/*
 Width: 1000px
 # Columns : 4 
 Column width: 238px
 Gutter : 16px 

 */

.grid_1 { width: 238px; }
.grid_2 { width: 492px; }
.grid_3 { width: 746px; }
.grid_4 { width: 1000px; }

.grid_1,
.grid_2,
.grid_3,
.grid_4 {
	margin: 0 20px 10px 0;
	float: left;
	display: block;
}

.alpha{margin-left:0px;}
.omega{margin-right:0px;}

